.stack {
  display: flex;
  flex-direction: var(--direction, column);
  align-items: var(--align, stretch);
  justify-content: var(--justify, flex-start);
  flex: var(--flex, initial);
}

.debug {
  background-color: var(--geist-success-lighter);
}

.debug .debug {
  background-color: var(--geist-error-lighter);
}

.debug .debug .debug {
  background-color: var(--geist-warning-lighter);
}

.debug .debug .debug .debug {
  background-color: var(--geist-violet-lighter);
}

.debug .debug .debug .debug .debug {
  background-color: var(--geist-cyan-lighter);
}

@media screen and (min-width: 961px) {
  .stack {
    --direction: var(--lg-direction);
    --align: var(--lg-align);
    --justify: var(--lg-justify);
  }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .stack {
    --direction: var(--md-direction);
    --align: var(--md-align);
    --justify: var(--md-justify);
  }
}

@media screen and (max-width: 600px) {
  .stack {
    --direction: var(--sm-direction);
    --align: var(--sm-align);
    --justify: var(--sm-justify);
  }
}
