.banner {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accents-1);
  transform-origin: top center;
  border-bottom: 1px solid var(--accents-2);
  transition: transform 0.2s ease, height 0.3s ease;
  z-index: 102;
  font-size: 14px;
  text-align: center;
  color: var(--geist-foreground);
  position: relative;
}

html.banner-hidden .banner.hidden {
  height: 0;
  transform: scaleY(0);
  border-bottom: 0;
}

@media (max-width: 340px) {
  .banner {
    display: none;
  }
}

@media (hover: hover) {
  .banner:hover .subtitle {
    color: var(--geist-foreground);
  }
}

.title {
  font-size: 14px;
}

.subtitle {
  display: none;
  color: var(--accents-6);
  transition: color 0.2s ease;
}

@media (min-width: 710px) {
  .subtitle {
    display: inline;
    display: initial;
    font-size: 14px;
  }

  .title {
    font-weight: 600;
  }
}

.icon {
  width: 21px;
  height: 20px;
  margin-right: 10px;
  display: none;
}

@media (min-width: 350px) {
  .icon {
    display: inline;
    display: initial;
  }
}

.link {
  font-weight: 600;
  text-decoration: none;
}
.link::before {
  content: "";
  display: inline-block;
  border-left: 1px solid var(--accents-2);
  height: 16px;
  line-height: 1;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  transform: translateY(-2px);
}

.hide-title:before {
  display: none;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .link-hide-title-on-mobile:before {
    display: none;
    margin: 0;
  }
}

.close {
  background: none;
  border: none;
  display: inline-flex;
  color: var(--accents-5);
  position: absolute;
  right: 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .close {
    display: none;
  }
}
